{% extends 'base.html'%}

{% block content %}
<div class="container-fluid">
    <h3>Hi, {{current_user.firstname}} {{current_user.lastname}}</h3>
    <!-- block of date importing from Moment.js -->
    <hr>
    <p>{{ moment(current_time).format('LLL') }}</p>
    <a class="btn btn-primary" href="{{ url_for('create_interview') }}" role="button">HR</a>
    <a class="btn btn-primary" href="#" role="button">Expert</a>
    <a class="btn btn-primary" href="{{ url_for('foradmin') }}" role="button">Admin</a>
    <!--block with interview -->
    <ul>
        {% for interview in interviews %}
        <li>
            <div>{{'Date of interview: {}'.format(interview.date)}}</div>
            <div>
                {% for j in users %}
                {% if j.id in interview.users %}
                {{ '{}'.format(j.firstname) }}
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}