{% extends 'base.html'%}

{% block content %}
<a href="{{ url_for('foradmin') }}">Back</a>
<a href="{{ url_for('register') }}">To add user</a>
<h3>Category</h3>
<form action="" method="post" class="col-md-4">
    {{form_cat.hidden_tag()}}
    <p>
        {{form_cat.name.label}}<br>
        {{form_cat.name(size=32)}}<br>
        {% for error in form.category.errors %}
        <span style="color:red;">{{error}}</span>
        {% endfor %}
    </p>
    <p>{{form_cat.submit()}}</p>
</form>
<h3>Question</h3>
<form action="" method="post" class="col-md-4">
    {{form.hidden_tag()}}
    <p>
        {{form.category.label}}<br>
        {{form.category}}<br>
        {% for error in form.category.errors %}
        <span style="color:red;">{{error}}</span>
        {% endfor %}
    </p>
<p>
        {{form.name.label}}<br>
        {{form.name(size=32)}}<br>
        {% for error in form.name.errors %}
        <span style="color:red;">{{error}}</span>
        {% endfor %}
    </p>
    <p>
        {{form.submit()}}
    </p>
{% endblock %}